@page "/"
@inject NavigationManager navService

<PageTitle>Home - Catalog</PageTitle>

<div class="container-fluid">
    <div class="row">
        <Title OurTitle="Catalog" TextColor="text-warning" />
        <div class="col-xs-8">
            <button class="btn btn-outline-info" @onclick="(()=>OpenBasket())">
                <span class="oi oi-cart"></span>
                <span class="text-black font-monospace">@Basket.Count</span>
            </button>
        </div>
    </div>
    <div class="row">
        <ol class="list-group list-group-numbered">
            @foreach (var item in Articles)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@item.Name</div>
                        @item.Description
                        <span class="badge bg-primary rounded-pill">@item.Price $</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-warning">
                                <span class="oi oi-cart"></span>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success" @onclick="(()=>AddToBasket(item.Id))">
                                Add
                            </button>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</div>



@code {

    [Inject]
    public AppService service { get; init; }

    List<Article>? Articles;
    List<int>? Basket;
    List<Article>? CompletedBasket;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //do some stuff
        Basket = service.Basket;
        CompletedBasket = service.CompletedBasket;

        Articles = service.Articles;
    }

    private void BuyNow(int id)
    {
        if (id == 0)
        {
            //tells that there is not item selected
        }

        //perfom the buying action

    }

    private void AddToBasket(int id)
    {
        if (id == 0)
        {
            //tells that there is not item selected
        }

        service.Basket.Add(id);
    }

    private void OpenBasket()
    {
        service.Completed();
        navService.NavigateTo("/basket");
    }


}
