@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <CustomNavBar />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
